.form {
    max-width: 46.6rem;
    margin: -30px auto;
    display: flex;
    padding: 0 10px;
}

.input,
.button {
    border-radius: 8px;
    border: none;
}

.input {
    background-color: var(--gray-500);
    color: var(--white);
    height: 3.38rem;
    padding: 0 20px;
    margin-right: 12px;
    width: 100%;
}

.button {
    background-color: var(--blue);
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    color: var(--white);
    font-weight: 700;
}

.button:hover {
    background-color: var(--blueDark);
}

.button img {
    margin-left: 10px;
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: var(--blue);
}

.wrapper {
    max-width: 46.6rem;
    margin: calc(4rem + 30px) auto;
    padding: 0 10px;
}

.counter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.createdTasks,
.solvedTasks {
    display: flex;
    align-items: center;
}

.createdTasks p,
 .solvedTasks p {
    font-weight: bold;
    margin-right: 10px;
    font-size: 0.875rem;
}

.createdTasks p {
    color: var(--blue);
}

.solvedTasks p {
    color: var(--purple);
}

.counterNumbers {
    font-weight: bold;
    font-size: 0.75rem;
    background-color: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 50px;
    color: var(--white);
}

